<div class="page-container">
    <nav id="sidebar">
        <div class="sidebar-scroll">
            <div class="sidebar-content">
                <div class="side-header">
                </div>
                <div class="side-content">
                </div>
            </div>
        </div>
    </nav>
    <header id="header-navbar">
    </header>
    <main id="main-container">
        {{outlet}}
    </main>
    <footer id="page-footer">
    </footer>
</div>
